body{
    background-color:rgb(81, 196, 211);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url(/webCarShow/static/images/landingPage.jpg);
}

.header{
    width: 79%;
    margin: auto;
}

.nav-item{
    transition: 0.5s;
    opacity: 0.9;
}
.nav-item:hover{
    opacity: 1;
    
}
.dropdown-menu{
    transition: 0.5;
}
.navbar{
    padding: 0.1rem 1rem;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}
#credits{
    bottom: 0;
    position: relative;
    background-color: blue;
}
.lists{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-top: 20px;
    margin-right: 5px;
    background-color: #c0d4da;  
}
.focus-borders:hover{
    border: solid  1px blue;
}

.jumbotron{
    opacity: 0.5;
    border-radius: 1rem;
    
}
.colum-item{
    height: 20%;
    margin-right: 20px;
    padding: 20px;
  
}
 img{
     display: block;
     max-width: 90%;
     max-height: 10%;
     width: auto;
     height: auto;
     margin-top: 5px;
 }
 p{
     font-size: 12px;
 }
 .price{
     position: absolute;
     bottom: 80px;
     right: 50px;
    background-color: white;
    font-size: 20px;
    border: solid 2px rgb(81, 196, 211);
    border-radius: 12px;
 }